{% extends "base.html" %}
  {% block content %}
  <form method="post">
    {{eventForm.csrf_token}}
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-60">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-light text-dark" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
              <div class="mb-md-5 mt-md-4">
                <h3 class="fw-bold mb-4 text-uppercase">Add Reminder</h3>
              
                <div class="form-outline form-white mb-4">
                  {{ eventForm.title(class="form-inline", placeholder="Event Title") }}
                </div>
              <div class="form-outline form-white mb-4">
                {{ eventForm.date(class="form-inline", placeholder="Date") }}
              </div>
              <button type="Submit "class="btn btn-primary mb-2">Enter</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <h2 class="row d-flex justify-content-center align-items-center">Or</h2>
  <form method="post">
    {{eventForm.csrf_token}}
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-60">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-light text-dark" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
              <div class="mb-md-5 mt-md-4">
                <h3 class="fw-bold mb-4 text-uppercase">Add Celebrity Birthday</h3>
              
                <div class="form-outline form-white mb-4">
                  {{ eventForm.title(class="form-inline", placeholder="Celebrity Name") }}
                </div>
              <button type="Submit "class="btn btn-primary mb-2">Enter</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  {% endblock content %} 
