{% extends "base.html" %}
  {% block content %}
  <form method="post">
    {{passwordChangeForm.csrf_token}}
<div class="card login-form">
    <div class="card-body">
		<h3 class="card-title text-center">Change password</h3>
		
		<div class="card-text">
			<form>
				<div class="alert alert-danger alert-dismissible fade show" role="alert">
                </div>
				<div class="form-group">
					<label for="exampleInputEmail1">Your new password</label>
					{{ passwordChangeForm.newPassword(class="form-inline", placeholder="Password") }}
				</div>
				<div class="form-group">
					<label for="exampleInputEmail1">Repeat password</label>
					{{ passwordChangeForm.confirmNewPassword(class="form-inline", placeholder="Confirm Password") }}
				</div>
				<button type="submit" class="btn btn-primary btn-block submit-btn">Confirm</button>
			</form>
		</div>
	</div>
</div>
</form>
{% endblock content %} 