{% extends "base.html" %}
 
<section id="hero" class="hero d-flex align-items-center section-bg">
          <div class="container">
            <div class="row justify-content-between gy-5">
              <div class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start">
                <h2 data-aos="fade-up">Never forget the special occasions in your life<br>like birthdays, anniversaries, and holidays.</h2>
                <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
                  <a class="link" a href="{{url_for('register')}}"><i class="bi bi-play-circle"></i><span>JOIN NOW</span></a>
                </div>
              </div>
              <div class="col-lg-5 order-1 order-lg-2 text-center text-lg-start">
                <img src="https://th.bing.com/th/id/OIG.jIRdJjwiMhqSxbTYat2P?pid=ImgGn." class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="300">
              </div>
              
            </div>
          </div>
        </section>
  </header>

  </main>
  <footer>
    <!-- place footer here -->
    <div class="container">
      <div class="credits">
        Designed by <a>STAX.</a>
      </div>
    </div>
  </footer>
