{% extends "base.html" %}
{% block content %}

    <div class="card-body" align="center">
        <p class="card-text"><h2>My Reminders</h2></p>
    </div>
          
    <div class="container">
        <div class="row justify-content-start">
    <div class="dropdown">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              Add Reminder
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Birthday</a></li>
              <li><a class="dropdown-item" href="#">Holiday</a></li>
              <li><a class="dropdown-item" href="#">Anniversary</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Separated link</a></li>
            </ul>
          </div>
        
          {% endblock content %}