{% extends "base.html" %}
{% block content %}
    <div class="card-body" align="center">
        <p class="card-text"><h2>My Reminders</h2></p>
    </div>
    <div class="container">
      <div class="row justify-content-start">
    <div class="dropdown mb-3">
          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
            Add Reminder
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{url_for('add_event')}}">Add a Reminder!</a></li>
          </ul>
        </div>
    <div>
      <table class="table table-striped">
        <tr class="table-primary">
            <td class="table-primary">Event Name</td>
            <td class="table-primary">Event Date</td>
            <td class="table-primary">Options</td>
        </tr>
        {% for event in events %}
        <tr>
            <td>{{ event.event_title }}</td>
            <td>{{ event.event_date }}</td>
            <td><a href="{{ url_for('edit_event', event_repr=event) }}">Edit</a></td>
        </tr>
        {% endfor %}
      </table>
  </div>

{% endblock content %} 