{% extends "base.html" %}
{% block content %}
    <div class="card-body" align="center">
        <p class="card-text"><h2>My Reminders</h2></p>
    </div>
    <div class="container">
      <div class="row justify-content-start">
    <div class="dropdown">
          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
            Add Reminder
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{url_for('add_birthday')}}">Birthday</a></li>
            <li><a class="dropdown-item" href="{{url_for('add_anniversary')}}">Anniversary</a></li>
            <li><a class="dropdown-item" href="#">Holiday</a></li>
            <li><a class="dropdown-item" href="{{url_for('add_other')}}">Other</a></li>
          </ul>
        </div>
    <div
      <ul class="list-group">
        {% for event in events %}
        <li class="list-group-item"> {{ event.name, event.date }}  </li>
        {% endfor %}
    </ul>
  </div>

{% endblock content %} 